@import url('../pages/fonts.css');

.dashboard-container {
    width:70vw;
    height: 85vh;
    margin-left:15vw; 
    margin-right:15vw;
    margin-top:10vh;
    margin-bottom:5vh;
    
}

.dashboard-header {
    width: 100%;
    height: 15% !important;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.dashboard-content {
    width: 100%;
    height: 80%;
    padding: 10%;
    display: flex;
    
    justify-content: space-between;
}

.glass-navbarDashboard {
    background: var(--navbar-bg);
    
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}



.nav-search-container {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
  }
  
.nav-search-icon {
    position: absolute;
    left: calc(var(--search-padding-left) - 27.5px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;                
    color: var(--text-muted-darker);
    opacity: 0.9;                       
    pointer-events: none;            
}
  
.nav-search {
    width: var(--search-collapsed-width);
    padding:
      var(--search-padding-y)
      var(--search-padding-x)
      var(--search-padding-y)
      var(--search-padding-left);
      font-family: 'Graphik Light', sans-serif;
    border: none;
    border-radius: 8px;
    background: var(--glass-bg);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: var(--text-main);
    font-size: 0.9rem;
    background-color: #ffffff20;
    box-shadow: inset 0 1px 2px var(--highlight-inner-faint);
    transition:
      width 0.3s ease,
      border-color 0.3s ease,
      box-shadow 0.3s ease;
}
  
.nav-search:focus {
    width: var(--search-expanded-width);
    outline: none;
    border: 1px solid var(--text-light);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.192);
}

.dashboard-header-buttons {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.title-header-buttons {
    font-size:0.9rem;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 0 auto;
}

.button-skills h2, .button-certificates h2, .button-compability h2 {
    font-size:0.9rem;
    color: #FFFFFF;
    opacity: 1;
    margin: 0 auto;

}

